h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
.todo-container{
  margin: 20px 10px 20px 10px;
}

input{
  width: 100%;
}

.items-container{
  text-align: left;
}

.kg-row{
  margin: 10px 5px;
}

.kg-button{
  text-align: left;
  min-width: 80px;
}

